/* src/App.css */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #1a1a1a;
}

nav a {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

/* Esta clase la añade React Router automáticamente al enlace activo */
nav a.active {
  background-color: #007bff;
  font-weight: bold;
}

main {
  padding: 1rem;
  text-align: center;
}